section {
  margin-top: 32px;
  margin-bottom: 32px;
}

code {
  font-size: 100%;
  margin: 16px;
}

.result-area {
  background-color: #444444;
  padding: 32px;
  line-height: 3
}

#CopyMessage {
  visibility: hidden;
  min-width: 250px; 
  margin-left: -125px;
  background-color: #333;
  color: #e83e8c; /* White text color */
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1; 
  left: 50%;
  bottom: 30px;
}

#CopyMessage.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/*アニメーション*/
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}